body{
    margin: 0;
}

a , a:link , a:visited , a:hover , a:active{
    text-decoration: none;
    color: inherit;
}

#cenBody{
    width: 80vw;
    margin-left: 10vw;

    
}

#headGrid{
    display: grid;
    grid: 10vmin/ 25vw 30vw 25vw;

}

.lHead ,.rHead{
    display: inline-flex;
    height: 4vmin;
    align-self: end;
    align-items: start;
    color: black;
    font-size: 1.25vw;
    direction: rtl;
}
.lHead{
    justify-content: flex-end;
}


.lHead * , .rHead *{
    color: black;
    padding: 3px;
}



.lHead img{ 
    height: 2.5vw; 
    margin-top:  calc(17px - 1.25vw);
}

.lHead i ,.rHead i{ padding: 3px 3px 0px 0px;}


.headImg{
    height: 10vmin;
    margin-left: auto;
    margin-right: auto;
    
}


.raw1Txt *{overflow: hidden;}

.raw1Txt span{font-size: 1vw; color: gray;}

.raw1Txt h1{
    text-overflow: clip;
    display: inline;
    font-size: 2.4vw;
}

.raw1Txt h3{
    font-size: 1.2vw;
    display: inline;
}

.articTeaser{
     width: 38vw ;
     height: 8.5vw;;
     color: white;
}

.teaserLink{
    display: flex; 
    flex-direction: row-reverse; 
    text-align: right; 
    color: white;

}

.articTeaser img{
    width: 40%; 
    height: 8.5vw;
}


.articTeaser article{
    width:60% ;
    height: 8.5vw;
}

.articTeaser h2{font-size: 1.4vw; margin-top: 0.2vw; height: 1.4vw;}
.articTeaser h3{font-size: 1vw; height: 4vw;}
.articTeaser p{font-size: 0.8vw; height: 1.4vw;}

.titleSect{ 
    background-color: #00008c;
    color: white;
    width: 100%;
    text-align: right;
    font-size: 1.4vw;
    padding: 0.5vw 0 0.5vw 0;
    font-weight: bold;
}
.titleSect span{
    margin-right: 0.5vw;
}