body{
    margin: 0;
}


#cenBody{
    width: 80vw;
    margin-left: 10vw;
    background-color: blanchedalmond;
    
}

#headGrid{
    display: grid;
    grid: 10vmin/ 25vw 30vw 25vw;
}

.lHead ,.rHead{
    display: flex;
    height: 4vmin;
    align-self: end;
    align-items: center;
    border: 2px red solid;
    font-size: 1.5vmin;
    flex-direction: row-reverse;
}
.lHead{ 
    
    justify-content: space-around;
}

.lHead *{
    padding: 3px;
}

.rHead *{
    padding: 3px;
}

#headGrid img{
    height: 10vmin;
    margin-left: auto;
    margin-right: auto;
    
}


.raw1Txt *{overflow: hidden;}

.raw1Txt span{font-size: 1vw; color: gray;}

.raw1Txt h1{
    text-overflow: clip;
    display: inline;
    font-size: 2.4vw;
}

.raw1Txt h3{
    font-size: 1.2vw;
    display: inline;
}

.articTeaser{
     width: 38vw ;
     height: 8.5vw;;
     display: flex; 
     flex-direction: row-reverse; 
     text-align: right; 
     color: white;
}
.articTeaser img{
    width: 40%; 
    height: 8.5vw;
}


.articTeaser article{
    width:60% ;
    height: 8.5vw;
}

.articTeaser h2{font-size: 1.4vw; margin-top: 0.2vw; height: 1.4vw;}
.articTeaser h3{font-size: 1vw; height: 5vw;}
.articTeaser p{font-size: 0.8vw; height: 1.4vw;}